<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udacity.storyteller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Login.Login" />
        <activity android:name=".UI.Signup.Signup" />
        <activity
            android:name=".UI.Storyboard.Storyboard"
            android:label="@string/title_activity_storyboard"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.Stories.Stories" />
        <activity android:name=".UI.ReadStory.ReadStory" />
        <activity android:name=".UI.Writing.Writing" />

        <service android:name=".Services.DatabaseService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <receiver android:name=".UI.Widget.StoryWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/story_widget_provider_info" />
        </receiver>

        <service
            android:name=".UI.Widget.AppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>